@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Afacad&display=swap");
.header {
  width: 100vw;
  height: 7vh;
  background-color: rgb(22, 193, 114);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: "Archivo Black", sans-serif;
}
.header .main-title {
  font-size: 2.5em;
  color: white;
}
.header .main-title .highlight {
  color: rgb(33, 79, 75);
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

* {
  color: white;
}

.body {
  background-image: linear-gradient(rgba(0, 128, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../assets/background.jpg");
  width: 100%;
  height: 93vh;
  background-position: center;
  background-size: cover;
}

.search-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.search-container .search-bar {
  width: 60vw;
  height: 5vh;
  margin-top: 5vh;
  background: white;
  color: black;
  border: 2px solid rgb(42, 252, 152);
  border-radius: 20px;
  font-size: 1.2em;
  text-indent: 1em;
  transition: 500ms;
  font-family: "Archivo Black", sans-serif;
}
.search-container .search-button {
  margin-top: 2vh;
  margin-bottom: 1vh;
  height: 5vh;
  width: 10vh;
  background-color: black;
  color: white;
  border: 2px solid rgb(42, 252, 152);
  font-size: 1em;
  border-radius: 20px;
  transition: 500ms;
  font-family: "Archivo Black", sans-serif;
}
.search-container .search-button:hover {
  scale: 1.1;
  color: rgb(42, 252, 152);
  cursor: pointer;
}

.main-section {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
  font-family: "Archivo Black", sans-serif;
}
.main-section .section-part {
  width: 45vw;
  height: 65vh;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-section .section-part .section-header {
  font-size: 2.2em;
  align-self: flex-start;
  margin-top: 2vh;
  margin-left: 2vw;
}
.main-section .section-part .track-list {
  width: 100%;
  overflow-y: scroll;
  padding-bottom: 5vh;
}
.main-section .section-part .track {
  padding-left: 2vw;
  padding-top: 1.5vh;
  height: 10vh;
  gap: 10%;
  border-bottom: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.main-section .section-part .track .song-title {
  font-size: 1.2em;
}
.main-section .section-part .track .more-info {
  font-family: "Afacad", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2em;
  justify-content: flex-start;
}
.main-section .section-part .track .track-button {
  background: transparent;
  border: none;
  font-size: 1.5em;
  transition: 200ms;
  padding-right: 5vw;
}
.main-section .section-part .track .track-button:hover {
  cursor: pointer;
  font-size: 2.5em;
  color: rgb(22, 193, 114);
}
.main-section .section-part .track .track-button-close {
  display: none;
}
.main-section .playlist {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-section .playlist .playlist-name {
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  width: 90%;
  height: 5vh;
  font-size: 2.2em;
  font-family: "Archivo Black", sans-serif;
  margin-bottom: 2vh;
}
.main-section .playlist .playlist-tracks {
  width: 100%;
  height: 35vh;
  overflow-y: scroll;
}
.main-section .playlist .playlist-tracks .track-button {
  display: none;
}
.main-section .playlist .playlist-tracks .track-button-close {
  display: block;
  background: transparent;
  border: none;
  font-size: 1.5em;
  transition: 200ms;
  padding-right: 5vw;
}
.main-section .playlist .playlist-tracks .track-button-close:hover {
  cursor: pointer;
  font-size: 2.5em;
  color: rgb(22, 193, 114);
}
.main-section .playlist .playlist-button {
  margin-top: 2vh;
  margin-bottom: 1vh;
  height: 7vh;
  width: 20vh;
  background-color: black;
  color: white;
  border: 2px solid rgb(42, 252, 152);
  font-size: 1em;
  border-radius: 20px;
  transition: 500ms;
  font-family: "Archivo Black", sans-serif;
}
.main-section .playlist .playlist-button:hover {
  scale: 1.1;
  color: rgb(42, 252, 152);
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */